body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
}

.mb-20 {
  margin-bottom: 20px;
}

.px-12 {
  padding-right: 12px;
  padding-left: 12px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}
